html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100%;
}

body {
	padding: 20px;
	margin: 0px auto;
	width: 720px;
}

h1 {
	text-align: center;
}

.output canvas {
	border: 1px solid gray;
	margin: 0px auto;
	display: block;
}

canvas:active, canvas:focus {
	outline: none;
}

canvas:hover {
	cursor: pointer;
}

form {
	text-align: center;
	margin: 20px;
}

input {
	margin-left: 10px;
}

.internals {
	position: fixed;
	top: 100%;
}
